div{
	height: 100px;
	width: 100px;
	position: absolute;
	background-color: cyan;
	left: 20%;
	top: 30%;
	/*transform: rotate(120deg);*/
	/*transform: scale(1.5);*/
	/*transform: scale(1.5, 0.4);*/
	/*transform: translate(100px, 100px);*/
	/*transition: height 1s ease-in-out;*/
    /*transition: 1s ease-in-out;*/
    transition: height 1s ease-in-out 0.5s;

}



div:hover{
    height: 400px;
    width: 400px;
}