#hidden-box{
	height: 0px;
	width: 0px;
	position: fixed;
	top: 0px;
	left: 0px;
	overflow: hidden;
	transition: all 2s ease-in-out;

}

#hidden-box:target{
	height: 30%;
	width: 30%;
	top: 25%;
	left:25%;  
	background-color: red;
}